<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/nav") %>
  <%- include("./partials/head") %>
  <body>
    <h1>You are editing <%=teacher.name%>'s info!</h1>
    <form action="/teachers/<%=teacher._id%>?_method=PUT" method="POST">
      <div class="editTeacher">
      <label
        >Name:<input type="text" name="name" value="<%=teacher.name%>"/></label
      ><br />
      <label
        >Highest Degree:<input
          type="text"
          name="highestDegree"
          value="<%=teacher.highestDegree%>" /></label
      ><br />
      <label
        >Subjects:<input
          type="text"
          name="subjects"
          value="<%=teacher.subjects%>" /></label
      ><br />
      <label
        >Description:<input
          type="textarea"
          name="description"
          value="<%=teacher.description%>" /></label
      ><br />
      <%if(user!=null){%>
        <div class="btn" ><input type="submit" class="showBtn" id="edit" value="Edit" /></div>
      <%}%>
    </form>
  </div>
  </body>
</html>
