<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
  <body>
    <h1>Welcome to Teacher Management System</h1>
    <%- include("./partials/nav") %>
    <div class = "teacherContainer">
            <%teachers.forEach((teacher)=>{%>
                <div class="teacher">
                    <div class="indeximg">
                        <img src="<%=teacher.img%>"/>
                      </div>

<div class="indexTeacherInfo">
    <%=teacher.name%> </br>
    <%=teacher.highestDegree%> </br>
    Subject: <%=teacher.subjects%></br>
</div>                      
<form action="/teachers/<%=teacher._id%>">
                    <input id="detailsBtn" type="submit" value="More Details" />
                  </form>
                </div>
            <%})%>
        
      </div>
      <% if (user != null){%>
        <form action="/teachers/new">
          <div class = "btn" ><input id="addNewBtn"  type="submit" value="Add New Teacher" /></div>
        </form>
      <%}%>
  </body>
</html>
