<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="showImg">
      <img src="<%=teacher.img%>" style="height: 100px; width: 100px" />
    </div>
    Name: <%=teacher.name%>
    <div class="showDetails">
      <li>Highest Degree: <%=teacher.highestDegree%></li>
      <li>Subjects: <%=teacher.subjects%></li>
      <form action="/teachers/<%=teacher.id%>/edit">
        <input type="submit" value="Edit" />
      </form>
      <form action="/teachers/<%=teacher._id%>?_method=DELETE" method="POST">
        <input type="submit" value=" X " />
      </form>
    </div>
    <form action="/teachers">
      <input type="submit" value="See Other Teacher" />
    </form>
  </body>
</html>
