<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <div class="showTeacher center-in-center">
      <div class="showImg">
        <img src="<%=teacher.img%>" />
      </div>
      Name: <%=teacher.name%>
      <div class="teacher">
        <li>Highest Degree: <%=teacher.highestDegree%></li>
        <li>Subjects: <%=teacher.subjects%></li>
        <li>Description: <%=teacher.description%></li>
      </div>
    </div>
    <div class="showBtnContan">
      <% if(user!=null){%>
      <form action="/teachers/<%=teacher.id%>/edit">
        <input type="submit" value="Edit" />
      </form>
      <form action="/teachers/<%=teacher._id%>?_method=DELETE" method="POST">
        <input type="submit" value=" X " />
      </form>
      <%}%>
    </div>

    <form action="/teachers">
      <div class="btn">
        <input type="submit" value="See Other Teacher" />
      </div>
    </form>
  </body>
</html>
